
/* header */
*{
    margin:0;
    padding:0;
    
}
@font-face {
    font-family: BebasNeue;
    src: url(./fonts/BebasNeue.otf)
        
}
@font-face {
    font-family: JosefinSans-Regular;
    src: url(./fonts/JosefinSans-Regular.ttf)
}
@font-face {
    font-family: SIFONN_BASIC;
    src: url(./fonts/SIFONN_BASIC.otf)
}

body{
     font-family: JosefinSans-Regular!important;
}
h1{
    font-family: "BebasNeue"!important;
    color: #2274a5;
    text-transform: uppercase;
    font-size: 30px;
}

.h-main{
    display: flex;
    flex-direction: row;
}
.h1{
    justify-content: flex-start;
    flex-grow: 1;
    padding:10px;
}
.h1 img{
    width: 130px;
}
.h2{
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.h2> div{
    padding: 1em;
}
section{
    padding-top: 3em;
    padding-bottom: 3em;
    line-height: 2;
}
.f-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.f1{
    align-self: center;
}
.f1 p, .s1 p{
    font-weight: bold;
    font-size:1.2em;
}
#s1 p{
    font-weight: normal!important;
    font-size:1.1em;
}
.hdie{
    display: flex;
    flex-direction: row;
}
.hdie1{
    align-self: center;
}
.hiwf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.hiwf> div{
    margin-left:2em;
}
.s1{    
    margin-left: 13em;
    margin-right: 13em;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5!important;
}

.down{
    margin-bottom: 5px;
    
}
#moveDown
{
        position: relative;
    top: 20px;
}
.bar{
    width: 35px;
    border-top: 3px solid #fecb00;
   align-self: center;
    margin-bottom: 2em;
   
}
.bar1{
    width: 35px;
    border-top: 2px solid yellow;
    align-self: center;
    margin-bottom: 2em;
    
}
@media (max-width:1200px){
     .s1{
    margin-left: 11em;
    margin-right: 11em;
    }
       
footer
    {
    padding: 0 10em 0 10em; 
    }
}
@media (max-width:1024px){
    .s1{
    margin-left: 10em;
    margin-right: 10em;
    }
    #ul12{
        display: none;
    }
    .fo{
        justify-content: center;
    }
     .fo1{
        margin:0em;
    }
    footer{
        padding-left: 8em;
        padding-right: 8em;
    }
    .res-main> div{
        padding-top: 0em;
        padding-bottom: 0em;
    }
}
@media (max-width: 991px){
    #fo2{
        display: none;
    }
}
@media (max-width:676px){
    .s1{
    margin-left: 5em;
    margin-right: 5em;
    }
    .f-main{
        padding: 2em;
    }
    .fo{
        display: none!important;
    }
    footer{
        padding:1em !important;
    }
    
}

@media (max-width:414px){
    .f2{
        display: none;
    }
    .hdie{
        flex-direction: column;
    }
    .s1 p{
        font-size: 1.1em;
    }
    .hiwf{
        flex-direction: column;
        align-items: center;
        
    }
    .hiwf > div{
        margin-left: 0;
    }
}
#s1{
    text-align: left!important;
    line-height: 0.9!important;
}

.first{
    
}
h1{
   
    
}
.five h1{
    text-align: center;
}
section:nth-child(even){
    background-color: #f5f5f5;
}
/*Sticky header*/
.content {
    padding: 16px;
}
.boxSha{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(117,112,117,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(117,112,117,1);
    box-shadow: 0px 2px 5px 0px rgba(117,112,117,1);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    
}

.sticky + .content {
    padding-top: 102px;
}
footer{
    padding: 0 13em 0 13em; 
    line-height: 1.7;
background-color: #333945;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231a1c24' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    color: #fff!important;
}

.foot1{
      background-color: #363438;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23282134' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    padding:10px;
}
.fo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.fo> div{
        margin: 10px 5px 0px 10px;

}
.fo1{
    display: flex;
    flex-direction: row;
    margin: 2em 2em 2em 0;
}
.fo1> div{
    
}
.fo2{
    margin: 0 2em 2em 0em;
}
.fo23{
    margin: 10px 0px 10px 0px;
}
.fo24{
    margin-top: 20px;
}
.fo26, .fo27{
    background-color: #FFF;
    text-align: center;
    width: 180px;
    margin: 1em;
    display: none;
}
.fo26 p, .fo27 p{
    font-weight: bold;
    color: red;
}
.foot11{
    font-family: SIFONN_BASIC!important;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
input {
  border-bottom: 2px solid #CCC;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    background-color: transparent;
}
input::placeholder {
  color: #000;
    opacity: 0.4;
}
.res-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
ul li a{
    text-decoration: none;
    color: inherit;
}
#res-priv{
    font-size: 15px;
}
#sup2{
  font-size:10px;
}
#res-priv a{
    text-decoration: none;
    color: inherit;
}
.res-main> div{
    flex-grow: 0.8;
    padding: 1em 1em 1em 1em;
    font-size: 12px;
    align-self: center;
}
.res1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
@media (max-width:676px){
    .res-main{
        display: flex;
        flex-direction: column;
  }
    .res1{
        justify-content: center;
    }
}

.res1 div{
    margin: 0.4em;
}

#res-priv1{
    padding-top:1em;    
}
#res-priv1 img{
    width:80px;
    height:30px;
}

.res2 {
    display: inline-block;
    float: none!important
}
ul li{
    list-style: none;
}
.ul1 span{
    margin-right: 10px;
}
#ul1{
    margin-right: 25px; 
}
.li1{
   text-align:  left;
}
#ul11{
    margin-top: 2em;
}
#ul12{
    margin-top: 10px;
}
.fa-arrow-right {
    color: #FACB00!important;
}
.fab {
    color: white;
    font-size: 2em;
}
.btn-2b {
    border-radius: 0 0 5px 5px;
}
.btn-2 {
    background: #cb4e4e;
    color: #ab3c3c;
    box-shadow: 0 6px #d0ae3b;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.btn {
border: none;
    font-family: inherit;
    font-size: 12px;
    color: white;
    font-weight: bold;
    background: none;
    cursor: pointer;
    padding: 13px 13px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ffd61f;
    
}
.btn-2b:hover {
    box-shadow: 0 8px #d0ae3b;
    top: -2px;
}
.btn-2b:active {
    box-shadow: 0 0 #d0ae3b;
    top: 6px;
}
.b1{
    cursor: pointer;
    background: #ffcc06;
    border-radius: 50px;
    width: 142px;
    height: 42px;
    line-height: 42px;
    border: 0!important;
    color: #494848;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    
}
.b1:hover{
        background: #3280d2;
    box-shadow: 3px 3px 12px #9e9e9e;
    color: #fff;
}
.fa-facebook-f:hover{
        color:#40599A;
    }
    .fa-instagram:hover{
         background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    .fa-twitter:hover{
        color: #40A2F5;
    }
    .fa-linkedin-in:hover{
      color:#04669A;
    }
    .fa-google-plus-g:hover{
     color:#C20806;
    }
    .fa-youtube:hover{
        color: #F40000;
        
    }